global:
  tenantId: ""
  subscriptionId: ""
  envName: "dev"
acr:
  name: oneesdevacr
kv:
  name: sace-bedrock-kv
geneva:
  account: oneesdiscoint
  namespace: intdiscoeastusonees
  tenant: intdiscoeastusonees
  environment: DiagnosticsProd
  role: OneesDiscoInt
  certName: Geneva-Certificate
  certThumbprintSecret: Geneva-CertificateThumbprint
  k8sSecret: geneva-certificate
  k8sNamespace: default
  secretCert: gcscert.pem
  secretKey: gcskey.pem
  replicas: 2
  metricsAksmsi:
    image:
      name: geneva/linux-geneva-agent/metrics-aksmsi
      tag: "577701"
  metrics:
    image:
      name: geneva/linux-geneva-agent/metrics
      tag: "577701"
  metricsTelegraf:
    image:
      name: geneva/linux-geneva-agent/metrics-telegraf
      tag: "577701"
  secretBroker:
    image:
      name: "secret-broker"
      tag: "394719"
      cert: "ssl-aks-default-certificate"
  mdm:
    image:
      name: geneva/genevamdm
      tag: latest
  mdmstatsd:
    image:
      name: geneva/genevamdmstatsd
      tag: latest
  mdsd:
    image:
      name: geneva/geneva-mdsd
      tag: 577699
    confs:
    - name: mdsd.xml
    monikers:
      general:
        name: genevab1e8b039
        storageAccount: genevab1e8b039
        serviceBus: genevab1e8b039
        location: eastus
      audit:
        name: genevab1e8b039audit
        storageAccount: genevab1e8b039audit
        serviceBus: genevab1e8b039audit
        location: eastus
      security:
        name: genevab1e8b039security
        storageAccount: genevab1e8b039security
        serviceBus: genevab1e8b039security
        location: eastus
  fluentd:
    image:
      name: geneva/geneva-fluentd
      tag: 577699
    confs:
    - name: fluentd-api.conf
    - name: fluentd-container-logs.conf
    - name: fluentd-systemd.conf
    - name: fluentd.conf
  azsecpack:
    image:
      name: geneva-azsecpack
      tag: 720310
  janitor:
    confs:
      - name: logrotate_mdsd.conf
      - name: janitor_start.sh
  crc32:
    mdsd: "cd37575c"
    fluentdApi: "72c7f6a0"
    fluentdContainerLogs: "b0a22753"
    fluentdSystemd: "2fe82ab5"
    fluentd: "74004e7e"
aks:
  clusterName: sace-bedrock-lab
  resourceGroup: sace-bedrock-lab
  location: westus2
  version: 1.13.9
  spn:
    appId: ""
    pwd: ""
  nodeResourceGroup: ""
  vmType: standard
  subnetName: aks-subnet
  nsg: ""
  vnet: ""
  routeTable: ""
  availabilitySet: ""
  loadBalancerSku: "Basic"
imagePullSecrets: acr-auth
azureConfigJsonFile: "~/ad-creds/azure.json"